[submodule "projects/shell"]
	path = projects/shell
	url = git@github.com:JRiyaz/micro-frontend-shell.git
	branch = main
[submodule "projects/user"]
	path = projects/user
	url = git@github.com:JRiyaz/micro-frontend-user.git
	branch = main
