# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.history/*

# Package Manager
package.json
package-lock.json
yarn.lock

# Angular-related
/dist
/coverage
/projects
**/assets/**/*

# pnpm add -D @biomejs/biome
# npx biome check --write .

